%code-font {
  font-family: Menlo, Monaco, "Andale Mono", "Courier New", monospace;
}

%sans-serif-font-bold {
  font-family: "ministry", "Helvetica Neue", Arial, sans-serif;
}

.sans-serif-font {
  font-family: "ministry", "Helvetica Neue", Arial, sans-serif;
}

%header-font {
  font-family: "ministry", "Helvetica Neue", sans-serif;
}

%default-font {
  font-family: "freight-text-pro", Georgia, Times, "Times New Roman", serif;
}
