// ------------------------------
// blog post
// ------------------------------

article {
  .published {
    p.meta {
      @extend .sans-serif-font;
      @extend %font-size-small;
      color: $secondary-text-color;
      line-height: .6rem;
      font-weight: 200;
      font-style: italic;
      margin-bottom: 0.75rem;
      padding-top: .6rem;
      span.category {
        text-transform: capitalize;
      }
    }
  }
  // ----- post's content -----

  ol,
  ul {
    @extend %block-padding;
    @extend %default-line-height;
    @extend %margin-bottom-large;
    text-align: left;
    margin-left: 20px;
    margin-left: 1rem;

    li:last-child p,
    ol:last-child p {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  li code,
  p > code {
    @extend .code-keywords;
    @extend .code-font;
    font-size: 17.56px;
    font-size: 0.878rem;
    /* 0.732 + 0.146 */
  }
  // ----- post's footer -----

  footer {
    @extend .sans-serif-font;
    @extend %font-size-small;
    font-weight: 200;
    overflow: visible;
    padding-top: 12.361px;
    padding-top: 0.618rem;

    a.basic-alignment {
      @extend .button;
      text-decoration: none;
      font-style: normal;
      width: 45%;
      display: block;
      line-height: 23.683px;
      line-height: 1.184rem;
      padding: 8px;

      &.left {
        float: left;
        text-align: center;
      }

      &.right {
        float: right;
        text-align: center;
      }
    }
  }
  // 'read on' button
  > footer > a {
    display: block;
    margin-bottom: 1.4rem;
    font-weight: 300;
  }
}
