// ------------------------------
// general styles
// ------------------------------

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0 auto;
  max-width: 30em;
  text-align: center;
  text-size-adjust: none;
  header {
    padding-top: 40px;
  }
}

main {
  width: 550px;
}

a {
  color: $accent-color;
  outline: none;
  text-decoration: none;
  // @include transition(color 0.5s ease 0s);

  &:hover {
    color: $accent-hover-color;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: $text-color;
  }

  a:hover {
    color: #e61717;
    text-decoration: none;
  }
}

section {
  @extend %margin-bottom-largest;
}

pre {
  @extend %block-padding;
  @extend %font-size-small;
  @extend .code-font;
  @extend %margin-bottom-large;
  line-height: 18px;
  overflow-x: auto;
  padding: 8px 12px;
  text-align: left;

  >code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &.line-numbers {
    @if $hide-line-numbers == true {
      display: none;
    }
  }
}

pre,
code {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 15px;
  margin-top: 32px;
}

code {
  padding: 1px 5px;
}

// ------------------------------
// blog structure
// ------------------------------

body {

  // ----- blog header -----

  [class^="icon-"],
  [class*=" icon-"] {
    fill: black;
    height: 1.6rem;
    margin-bottom: -4px;
    width: 1.6rem;

  }

  svg:hover {
    fill: $accent-color;
  }

  header {
    @extend .sans-serif-font;
    margin: 0 auto;
    width: 100%;

    >h1 {
      @extend %font-size-largest;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      text-transform: lowercase;

      a {
        color: $text-color;
      }
    }

    #nav {
      @extend .font-size-medium;
      @extend .sans-serif-font;
      clear: both;
      font-weight: 200;
      line-height: 1.4rem;
      margin-bottom: 2.8rem;
      text-align: center;
    }

  }

  // ------ pagination buttons ------

  .pagination {
    @extend .sans-serif-font;
    margin-bottom: 62px;
    margin-bottom: 3.1rem;
    margin-top: -2.236rem;
    padding: 23.683px 0;
    padding: 1.184rem 0;


    span,
    a {
      border-radius: $border-radius-size;
      padding: 4.722px 12.361px;
      padding: 0.236rem 0.618rem;
    }

    a {
      @extend .button;
    }

    span {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }



  // ----- blog footer -----

  >footer {
    @extend %margin-bottom-larger;
    clear: both;

    p {
      @extend %font-size-smallest;
      @extend .sans-serif-font;
      color: $secondary-text-color;
      font-weight: 100;
      line-height: 20px;
      line-height: 1rem;
      text-align: center;
    }
  }
}


// ------------------------------
// archives page
// ------------------------------

#blog-archives {
  margin-bottom: 100.316px;
  margin-bottom: 5.016rem;

  h2 {
    @extend .sans-serif-font;
    @extend .font-size-large;
    color: $text-color;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 24px;

  }

  article {
    clear: both;
    display: block;
    margin-bottom: 0px;
    max-width: 500px;
    padding: 10px 0;

    h1 {
      @extend .font-size-medium;
      float: left;
      font-weight: 300;
      line-height: 18px;
      margin: 0;
      max-width: 420px;
      padding: 0;
      text-align: left;

      a {
        color: $text-color;

        &:hover {
          color: $accent-color;
          text-decoration: none;
        }
      }
    }

    time,
    footer {
      @extend .font-size-medium;
      @extend .sans-serif-font;
      color: $secondary-text-color;
      display: inline-block;
      float: right;
      font-weight: 200;
      line-height: 18px;
      margin: 0;
      padding: 0;
      width: 80px;
    }
  }
}

