//
// Just plain text here. Look elsewhere for markup.
//

.root,
html {
  @extend .default-font;
  font-size: 20px;
  line-height: 28px;
}

.article,
body {
  @extend .test-font;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.h1,
h1 {
  @extend .sans-serif-font;
  text-align: center;
}

.h2,
h2 {
  @extend .sans-serif-font;
  @extend .font-size-large;
  font-weight: 200;
  text-align: left;
  line-height: 1.4rem;
}

h3,
.h3 {
  @extend .sans-serif-font;
  @extend %default-line-height;
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: .1rem;
  margin-top: 1rem;
  text-transform: lowercase;
  text-align: left;
}

p {
  @extend %default-line-height;
  hyphens: auto;
  text-align: left;
  margin-bottom: o;
}

p + blockquote,
p + p {
  margin-top: 1.4rem;
}

blockquote,
ol,
pre,
table,
ul {
  @extend %margin-bottom-large;
  margin-top: 0;
}

blockquote {
  @extend %block-padding;
  @extend %margin-bottom-large;
  border-left: $border-style;
  font-style: italic;

  p {
    margin-bottom: 0;
    margin-top: 0;

    em {
      font-style: normal;
    }

  }

}




// Let's make sure all's aligned
hr .hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
code,
em,
i,
small,
strong {
  line-height: 0;
}

cite,
em,
i,
dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: .8rem;
}

sub,
sup {
  font-size: .7rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
