.root,
html {
  font-size: 20px;
  line-height: 28px;
}

.article,
body {
  font-family: 'freight-text-pro';
  font-size: 1rem;
  line-height: 1.4rem;
  margin: auto;
}

.h1,
h1 {
  @extend %header-font;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1.4rem;
  text-align: center;
}

.h2,
h2 {
  @extend %header-font;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.4rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

h3,
.h3 {
  @extend %header-font;
  font-size: 1.35rem;
  font-weight: 200;
  line-height: 1.4rem;
  margin-bottom: 0;
  margin-top: 1.4rem;
}

blockquote,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1.4rem;
  margin-top: 0;
}

p {
  @extend %default-line-height;
  hyphens: auto;
  text-align: left;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

p + blockquote,
p + p {
  margin-top: 1.4rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  margin-top: 0;
}
// Let's make sure all's aligned
hr .hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
code,
em,
i,
small,
strong {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}
